@import '../../varibales';

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  font-size: 18px;
  line-height: 1.1;
  box-sizing: border-box;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.content {
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
  margin-right: 24px;
}

.title,
.text {
  margin: 0 0 64px;
}

.titleWeightBold {
  font-weight: 700;
}

.banner {
  width: calc(100% / 2 - 24px);
  flex-grow: 1;
}
